typing_extensions==4.5.0
bluepy==1.3.0
ConfigArgParse==1.5.3
Flask==3.0.3
paramiko==3.1.0
pyserial==3.4
chess==1.11.1
pyOpenSSL==22.1.0
requests==2.21.0
spur==0.3.23
tornado==6.4.1
configobj==5.0.8
geopy==2.3.0
astral==3.2
pygame==2.5.2
