[Unit]
Description=Games server
After=multi-user.target
BindsTo=picochess.service

[Service]
Type=simple
ExecStart=/opt/picochess/gamesdb/tcscid get_games.tcl --server 7778
ExecStop=/usr/bin/pkill -f tcscid
WorkingDirectory=/opt/picochess/gamesdb/

[Install]
WantedBy=multi-user.target
