[Unit]
Description=PicoChess Chess Program
After=multi-user.target

[Service]
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/pi/.Xauthority"
Type=simple
ExecStart=/usr/bin/python3 /opt/picochess/picochess.py
ExecStop=/usr/bin/pkill -f picochess.py
ExecStop=/usr/bin/pkill -9 -f mess
WorkingDirectory=/opt/picochess/

[Install]
WantedBy=multi-user.target
